.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.transparent { background: transparent; }

.header-font { font-family: 'Dosis', sans-serif; }
.body-font { font-family: 'Montserrat', sans-serif; }
