@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide:400&display=swap');

$body-font-family: 'Montserrat', sans-serif;
$heading-font-family: 'Audiowide', sans-serif;

$headings: (
  'button': (
    'font-family': $heading-font-family,
  ),
);

$border-radius-root: 0.5rem;
